<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
    <!--Clientes-->
    <div class="col-12 md:col-6 lg:col-4 lg:max-w-25rem">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between">
          <div class="w-full">
            <span class="block text-500 font-bold mb-3 text-2xl text-red-600">Clientes</span>
            <div style="width: calc(100% - 2px);">
              <span class="text-red-500 font-bold">{{ quantidadeClientesMes }}</span>
              <span class="text-500 text-lg"> novos {{ quantidadeClientesMes > 1 ? 'clientes' : 'cliente' }}
                em {{ dataAtual | date:'MMMM' | titlecase }}</span>
            </div>
          </div>
          <div class="flex align-items-center justify-content-center bg-red-100 border-round"
               style="width:100%;max-width:7rem;height: 7rem;">
            <div class="text-900 font-bold text-5xl text-red-700">{{ quantidadeClientes }}</div>
          </div>
        </div>
      </div>
    </div>
    <!--Serviços-->
    <div class="col-12 md:col-6 lg:col-4 lg:max-w-25rem">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between">
          <div class="w-full">
            <span class="block text-500 font-bold mb-3 text-2xl text-red-600">Serviços</span>
            <div style="width: calc(100% - 2px);">
              <span class="text-red-500 font-bold">Último cadastro:</span>
              <span class="text-500"> {{ ultimoServico }}</span>
            </div>
          </div>
          <div class="flex align-items-center justify-content-center bg-red-100 border-round"
               style="width:100%;max-width:7rem;height: 7rem;">
            <div class="text-900 font-bold text-5xl text-red-700">{{ quantidadeServicos }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
