<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a routerLink="/pagina-inicial" class="navbar__link">
        <i class="pi pi-home text-2xl" routerLinkActive="text-red-300"></i>
        <span>Página Inicial</span>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="/ordens" class="navbar__link">
        <i class="pi pi-file-edit text-2xl" routerLinkActive="text-red-300"></i>
        <span>Ordem de Serviço</span>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="/entradas-equipamentos" class="navbar__link">
        <i class="pi pi-file-check text-2xl" routerLinkActive="text-red-300"></i>
        <span>Entrada de Equipamento</span>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="/produtos" class="navbar__link">
        <i class="pi pi-box text-2xl" routerLinkActive="text-red-300"></i>
        <span>Produtos</span>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="/clientes" class="navbar__link">
        <i class="pi pi-users text-2xl" routerLinkActive="text-red-300"></i>
        <span>Clientes</span>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="/servicos" class="navbar__link">
        <i class="pi pi-desktop text-2xl" routerLinkActive="text-red-300"></i>
        <span>Serviços</span>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="/categorias" class="navbar__link">
        <i class="pi pi-tags text-2xl" routerLinkActive="text-red-300"></i>
        <span>Categorias</span>
      </a>
    </li>
    <li class="navbar__item">
      <a routerLink="/perfil" class="navbar__link">
        <i class="pi pi-user text-2xl" routerLinkActive="text-red-300"></i>
        <span>Perfil</span>
      </a>
    </li>
  </ul>
</nav>
