<!--HEADER DA PÁGINA-->
<div class="surface-section px-4 py-5 md:px-6 lg:px-8" xmlns="http://www.w3.org/1999/html">
  <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
    <li>
      <a class="text-500 no-underline line-height-3 cursor-pointer" routerLink="/pagina-inicial">Página Inicial</a>
    </li>
    <li class="px-2">
      <i class="pi pi-angle-right text-500 line-height-3"></i>
    </li>
    <li>
      <span class="text-900 line-height-3 cursor-pointer" routerLink="/entradas-equipamentos">Lista de Entradas de Equipamentos</span>
    </li>
    <li class="px-2">
      <i class="pi pi-angle-right text-500 line-height-3"></i>
    </li>
    <li>
      <span class="line-height-3 font-bold">Entrada de Equipamento</span>
    </li>
  </ul>
  <div class="flex align-items-start flex-column md:justify-content-between md:flex-row">
    <div>
      <div class="font-medium text-3xl text-900">
        ENTRADA DE EQUIPAMENTO
      </div>
    </div>
    <div class="flex mt-3 gap-3 lg:mt-0">
      <button pButton
              label="Voltar"
              class="p-button-outlined p-button-warning"
              icon="pi pi-arrow-left"
              routerLink="/entradas-equipamentos">
      </button>
    </div>
  </div>
</div>

<!--CONTEINER CADASTRO E EDIÇAO ENTRADA DE EQUIPAMENTO-->
<div class="card flex justify-content-center" style="height: 100%">
  <p-stepper [linear]="true">
    <p-stepperPanel header="CLIENTE">
      <ng-template pTemplate="content" let-nextCallback="nextCallback">
        <div class="flex flex-column h-full" style="width: calc(100vw - 100px);max-width: 1400px">
          <div
            class="border-2 border-dashed surface-border border-round surface-ground p-4 flex flex-column justify-content-center gap-5 lg:flex-row">
            <div class="flex flex-column w-full">
              <p style="font-size: 1.2rem" class="m-0 mb-2">Cliente Selecionado:</p>
              <p-dropdown
                [options]="listaClientes"
                [(ngModel)]="clienteSelecionado"
                (onClear)="limparClienteSelecionado()"
                optionLabel="nome"
                [filter]="true"
                filterBy="nome"
                [showClear]="true"
                styleClass="w-full h-3rem align-items-center"
                placeholder="Selecione o cliente">
                <ng-template pTemplate="selectedItem" let-opcaoSelecionada>
                  <div class="flex align-items-center gap-2">
                    <div>{{ opcaoSelecionada.nome }}</div>
                  </div>
                </ng-template>
                <ng-template let-cliente pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ cliente.nome }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div class="card w-full p-3">
                <p-accordion>
                  <p-accordionTab [header]="clienteSelecionado.nome" *ngIf="clienteSelecionado != null">
                    <div class="flex flex-column">
                      <div class="flex flex-row align-items-center gap-2"
                           *ngIf="clienteSelecionado.tipoCliente == 'PJ'">
                        <label class="text-black font-bold bg-gray-200 p-2 border-round">Nome Fantasia:</label>
                        <p>{{ clienteSelecionado.fantasia }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2"
                           *ngIf="clienteSelecionado?.tipoCliente == 'PJ'">
                        <label class="font-bold bg-gray-200 p-2 border-round">CNPJ:</label>
                        <p>{{ clienteSelecionado.cnpj }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2"
                           *ngIf="clienteSelecionado?.tipoCliente == 'PJ'">
                        <label class="font-bold bg-gray-200 p-2 border-round">IE:</label>
                        <p>{{ clienteSelecionado.ie }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2"
                           *ngIf="clienteSelecionado.tipoCliente == 'PF'">
                        <label class="font-bold bg-gray-200 p-2 border-round">CPF:</label>
                        <p>{{ clienteSelecionado.cpf }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2">
                        <label class="font-bold bg-gray-200 p-2 border-round">Celular:</label>
                        <p>{{ clienteSelecionado.celular }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2">
                        <label class="font-bold bg-gray-200 p-2 border-round">Telefone:</label>
                        <p>{{ clienteSelecionado.telefone }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2">
                        <label class="font-bold bg-gray-200 p-2 border-round">E-mail:</label>
                        <p>{{ clienteSelecionado.email }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2">
                        <label class="font-bold bg-gray-200 p-2 border-round">Endereço:</label>
                        <p>{{ clienteSelecionado.endereco }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2">
                        <label class="font-bold bg-gray-200 p-2 border-round">Número:</label>
                        <p>{{ clienteSelecionado.numero }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2">
                        <label class="font-bold bg-gray-200 p-2 border-round">Cidade:</label>
                        <p>{{ clienteSelecionado.cidade }}</p>
                      </div>
                      <div class="flex flex-row align-items-center gap-2">
                        <label class="font-bold bg-gray-200 p-2 border-round">Observações:</label>
                        <p>{{ clienteSelecionado.observacoes }}</p>
                      </div>
                    </div>
                  </p-accordionTab>
                </p-accordion>
                <p *ngIf="clienteSelecionado == null" class="text-black-alpha-50 text-center" style="font-size: 1.2rem">
                  Nenhum cliente selecionado</p>
              </div>
            </div>
            <hr>
            <div class="flex flex-column gap-4">
              <!--EQUIPAMENTO-->
              <div class="flex flex-column w-full">
                <p style="font-size: 1.1rem" class="m-0 mb-2">Equipamento(s):</p>
                <textarea pInputTextarea style="font-size: 1.1rem" rows="4" cols="50"
                          [(ngModel)]="entradaEquipamento.equipamento"></textarea>
              </div>
              <!--DEFEITOS RELATADOS-->
              <div class="flex flex-column w-full">
                <p style="font-size: 1.1rem" class="m-0 mb-2">Defeitos Relatados:</p>
                <textarea pInputTextarea style="font-size: 1.1rem" rows="4" cols="50"
                          [(ngModel)]="entradaEquipamento.descricaoProblema"></textarea>
              </div>
              <!--DATA RECEBIMENTO-->
              <div class="flex flex-column">
                <p style="font-size: 1.1rem" class="m-0 mb-2">Data da Entrega:</p>
                <p-calendar
                  styleClass="w-10rem"
                  [(ngModel)]="entradaEquipamento.dataRecebimento"
                  [showIcon]="true"
                  dateFormat="dd/mm/yy"
                  [showOnFocus]="false"/>
              </div>
            </div>
          </div>
          <div class="flex p-3 justify-content-end w-full">
            <p-button
              label="Próximo"
              icon="pi pi-arrow-right"
              iconPos="right"
              [disabled]="clienteSelecionado == null || entradaEquipamento.equipamento == '' || entradaEquipamento.descricaoProblema == '' || entradaEquipamento.dataRecebimento == null"
              (onClick)="nextCallback.emit(); entradaEquipamento.cliente == null ? entradaEquipamento.cliente = clienteSelecionado : '';"/>
          </div>
        </div>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="RESUMO">
      <ng-template pTemplate="content" let-prevCallback="prevCallback">
        <div class="flex flex-column h-full" style="width: calc(100vw - 100px);max-width: 1400px;">
          <div
            class="border-2 border-dashed surface-border border-round surface-ground flex-column flex gap-5 justify-content-center align-items-center font-medium pt-4 pb-4">
            <div id="ordem-servico-print" class="ordem-servico text-black-alpha-90 m-0 p-4 bg-white">
              <!--LOGOTIPO E INFORMAÇÕES DA EMPRESA-->
              <header class="os-header flex flex-row justify-content-between mb-3">
                <img alt="Logo da Empresa" src="assets/logoBranco.svg">
                <!--DIV INFORMAÇÕES DA EMPRESA-->
                <div class="p-2 flex flex-column justify-content-center align-items-end">
                  <h2 class="m-0 mt-1 mb-1">{{ entradaEquipamento.empresa.nome.toUpperCase() }}</h2>
                  <p class="m-0">{{ entradaEquipamento.empresa.tecnico }}</p>
                  <p class="m-0">{{ entradaEquipamento.empresa.endereco }}</p>
                  <p class="m-0">{{ entradaEquipamento.empresa.telefone }} / {{ entradaEquipamento.empresa.celular }}
                    / {{ entradaEquipamento.empresa.email }}</p>
                  <p class="m-0">CNPJ: {{ entradaEquipamento.empresa.cnpj }}</p>
                </div>
              </header>
              <!--DADOS DA ORDEM DE SERVIÇO-->
              <section class="os-info w-full mb-3">
                <h2 class="text-center">ENTRADA DE EQUIPAMENTO</h2>
                <div class="flex flex-row justify-content-around mt-4">
                  <p><strong>NÚMERO:</strong> #{{ entradaEquipamento.id.padStart(5, '0') }}</p>
                  <p><strong>DATA DO RECEBIMENTO:</strong> {{ entradaEquipamento.dataRecebimento | date: 'dd/MM/yyyy' }}
                  </p>
                </div>
              </section>
              <!--DADOS DO CLIENTE, EQUIPAMENTOS E DEFEITOS RELATADOS-->
              <section class="w-full flex flex-row">
                <div class="border-1" style="width:50%;">
                  <h4 class="m-0 text-center border-bottom-1 border-black-alpha-30">DADOS DO CLIENTE</h4>
                  <p class="ml-2 mt-2 m-0">
                    <strong>Nome:</strong> {{ entradaEquipamento.cliente?.nome || 'Nenhum nome inserido' }}
                  </p>
                  <p class="ml-2 m-0">
                    <strong>Contato:</strong>
                    @if (entradaEquipamento.cliente?.celular != undefined && entradaEquipamento.cliente?.telefone != undefined) {
                      {{ entradaEquipamento.cliente?.celular }} / {{ entradaEquipamento.cliente?.telefone }}
                    } @else if (entradaEquipamento.cliente?.celular != undefined) {
                      {{ entradaEquipamento.cliente?.celular }}
                    } @else if (entradaEquipamento.cliente?.telefone != undefined) {
                      {{ entradaEquipamento.cliente?.telefone }}
                    } @else {
                      Nenhum contato inserido
                    }
                  </p>
                  <p class="ml-2 m-0">
                    <strong>E-mail:</strong> {{ entradaEquipamento.cliente?.email || 'Nenhum e-mail inserido' }}
                  </p>
                </div>
                <div class="border-left-1" style="width:50%;">
                  <div class="border-1">
                    <h4 class="m-0 text-center border-bottom-1 border-black-alpha-30">EQUIPAMENTO(S)</h4>
                    <p class="mt-1 mb-1 m-0 ml-2">
                      {{ entradaEquipamento.equipamento || 'Nenhum equipamento inserido' }}
                    </p>
                  </div>
                  <div class="border-1">
                    <h4 class="m-0 text-center border-bottom-1 border-black-alpha-30">DEFEITO(S) RELATADO</h4>
                    <p class="mt-1 mb-1 m-0 ml-2">
                      {{ entradaEquipamento.descricaoProblema || 'Nenhum defeito relatado' }}
                    </p>
                  </div>
                </div>
              </section>
              <!--ASSINATURAS-->
              <div class="document-container">
                <h1>AUTORIZAÇÃO DE SERVIÇO</h1>
                <p class="text">Eu, abaixo assinado, autorizo a execução do serviço e confirmo o recebimento
                  do equipamento pela empresa.</p>
                <div class="signature-section">
                  <div class="signature-box">
                    <p>_____________________________________________________________</p>
                    <p>Assinatura do Cliente</p>
                  </div>
                  <div class="signature-box">
                    <p>_____________________________________________________________</p>
                    <p>Assinatura do Técnico da Empresa</p>
                  </div>
                </div>
                <div class="footer">
                  <p>Data: _____ / _____ / _______</p>
                </div>
              </div>
            </div>
            <!--BOTÕES-->
            <div class="flex pl-3 pr-3 pt-4 justify-content-between w-full no-print bg-transparent cursor-auto">
              <p-button
                severity="danger"
                label="Back"
                icon="pi pi-arrow-left"
                (onClick)="prevCallback.emit()"/>
              <div class="flex flex-row justify-content-around w-18rem">
                <p-button
                  outlined
                  severity="danger"
                  icon="pi pi-print"
                  (onClick)="imprimir()"
                  label="Imprimir"/>
                <p-button
                  label="Salvar"
                  icon="pi pi-check"
                  [loading]="carregandoBotao"
                  (onClick)="salvarEntradaEquipamento()"/>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>


<!--MENSAGENS-->
<p-toast styleClass="mt-8" [breakpoints]="{ '768px': { width: '100%', right: '0', left: '0' }}"></p-toast>
